body{
    width: 300px;
    justify-content: center;
    background-color: azure;
    align-items: center;
}
#jokeElement{
    display: inner-flex;
    padding: 20px;
    font-size: 22px;;
}